# Игнорировать папку node_modules
node_modules/

# Игнорировать файлы .env
.env

# Игнорировать папки сборки
dist/
build/

# Игнорировать файлы редактора (например, Visual Studio Code)
.vscode/
.idea/

# Игнорировать логи и временные файлы
*.log
*.tmp